page-login {
	.logo {
		width: 17.3rem;
	}

	.pulse {
		animation: pulse 2s infinite;
	}

	  @keyframes pulse {
		
		0% {
			background-color: rgba(243, 18, 18, 0.438);
			//box-shadow: 0 0 0 0 rgba(203, 255, 15, 0);
		}

		100% {
			background-color: rgba(252, 226, 223, 0);
			//box-shadow: 0 0 0 0 rgba(37, 78, 189, 0);
		}
	  }
}