<ion-header>
  <ion-navbar color="light">
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center><span class="titulo">Relatórios</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="data.length == 0 && getConcluido; else semRegistro">
     <ion-item text-center color="danger">Sem registros</ion-item>
  </div>

  <ng-template #semRegistro>
   <ion-item>
      <ion-icon name="arrow-up"></ion-icon>
      Maior quantidade de insulina injetada: <b>{{relatorio.maior}}</b> mg/dl
      <p>
      <div text-center>
        <button ion-button icon-end (click)="detalhe(1)" *ngIf="relatorio.maior != -1">
          Ver Detalhe
          <ion-icon name="more"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="cloud"></ion-icon>
       Registros no turno <b>Café</b>: {{relatorio.turno.t1}}
    </ion-item>
    <ion-item>
      <ion-icon name="cloud"></ion-icon>
      Registros no turno <b>Almoço</b>: {{relatorio.turno.t2}}
    </ion-item>
    <ion-item>
      <ion-icon name="cloud"></ion-icon>
      Registros no turno <b>Jantar/Noite</b>: {{relatorio.turno.t3}}
    </ion-item>
    <ion-item>
      <ion-icon name="logo-buffer"></ion-icon>
      Total de registros: {{data.length}}
    </ion-item>
    <ion-item>
      <ion-icon name="calculator"></ion-icon>
      Média dos registros 
      <p>
      <div text-center>
        <button ion-button  icon-end small (click)="media()" data-toggle="collapse" href="#mostraMedia"           role="button" aria-expanded="false" aria-controls="mostraMedia" (click)="exibeMedia()">
          {{ico.descricao}}
          <ion-icon name={{ico.ico}}></ion-icon>
        </button>
      </div>
      <div class="collapse" id="mostraMedia"> <!-- DIV da media -->
        <div>
          <ion-item>
            <ion-icon name="undo"></ion-icon>
            <b>Antes</b>: {{relatorio.media.resultado_antes}} mg/dl
          </ion-item>
          <ion-item>
            <ion-icon name="share-alt"></ion-icon>
            <b>Depois</b>: {{relatorio.media.resultado_depois}} mg/dl
          </ion-item>
          <ion-item>
            <ion-icon name="flask"></ion-icon>
            <b>Insulina</b>: {{relatorio.media.insulina}} mg/dl
          </ion-item>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="cloud-upload"></ion-icon>
      Mais registros no turno: <b>{{relatorio.maisTurno | turno}}</b>
    </ion-item>
    <ion-item>
      <ion-icon name="cloud-download"></ion-icon>
      Menos registros no turno: <b>{{relatorio.menorTurno | turno}}</b>
    </ion-item>
    <ion-item>
      <ion-icon name="arrow-up"></ion-icon>
      Maior nível de açúcar: <b>{{relatorio.maiorAcucar}}</b> mg/dl
      <p>
      <div text-center>
        <button ion-button icon-end (click)="detalhe(2)" *ngIf="relatorio.maiorAcucar != -1">
          Ver Detalhe
          <ion-icon name="more"></ion-icon>
        </button>
      </div>
    </ion-item>
     <ion-item>
      <ion-icon name="arrow-down"></ion-icon>
      Menor nível de açúcar: <b>{{relatorio.menorAcucar}}</b> mg/dl
      <p>
      <div text-center>
        <button ion-button icon-end (click)="detalhe(3)" *ngIf="relatorio.menorAcucar != 10000000">
          Ver Detalhe
          <ion-icon name="more"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ng-template>
</ion-content>

