<button ion-item icon-end (click)="pagePerfil()" menuClose>
	Meu Perfil
	<ion-icon name="contact" ></ion-icon>
</button>
<button ion-item icon-end (click)="feedback()" menuClose>
	Feedback
	<ion-icon name="megaphone" ></ion-icon>
</button>
<button ion-item icon-end (click)="ajuda()" menuClose>
	Sobre o app
	<ion-icon name="help-circle" ></ion-icon>
</button>
<button ion-item icon-end (click)="dicas()" menuClose>
	Dicas e dúvidas
	<ion-icon name="md-bulb"></ion-icon>
</button>
<button ion-item icon-end (click)="logout()" menuClose>
	Sair
	<ion-icon name="exit" ></ion-icon>
</button>