<ion-header>
  <ion-navbar color="navBarColor">
    <ion-buttons right>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><span class="titulo">Medições</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button outline full (click)="medicoesHoje()" icon-end>
    Medições de hoje
    <span class="badge badge-danger">{{ qtdObj.hoje }}</span>
  </button>
  <button ion-button outline full (click)="medicoesSemana()" icon-end color="">
      Medições desta semana
      <span class="badge badge-danger">{{ qtdObj.semana }}</span>
    </button>
  <!--<button ion-button full outline (click)="show = !show" color="danger" icon-end>
    Medições de um dia específico
    <ion-icon name="{{ico[0]}}" *ngIf="!show"></ion-icon>
    <ion-icon name="{{ico[1]}}" *ngIf="show"></ion-icon>
  </button>-->
  <button ion-button full outline (click)="getAllMedicoes()" color="dark" icon-end>
    Todas as medições
    <span class="badge badge-danger">{{ qtdObj.total }}</span>
  </button>

  <div *ngIf="show">
    <button ion-button color="light" full round (click)="medicoesDiaEspecifico()" icon-end>
      Buscar
      <ion-icon name="search"></ion-icon>
    </button>
    <ion-item>
      <ion-label>
        Data
        <ion-icon name="calendar"></ion-icon>
      </ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="ocorrenciaData"
        monthNames="{{functions.monthNames}}" cancelText="Cancelar" doneText="Feito" placeholder="Data da ocorrência">
      </ion-datetime>
    </ion-item>
  </div>
</ion-content>