<!--
  Generated template for the MedicoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><span class="titulo">Medições</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button outline full (click)="medicoesHoje()" icon-end>
    Medições de hoje
    <ion-icon name="remove"></ion-icon>
  </button>
   <button ion-button full outline (click)="show = !show" color="danger" icon-end>
    Medições de um dia específico
    <ion-icon name="{{ico[0]}}" *ngIf="!show"></ion-icon>
    <ion-icon name="{{ico[1]}}" *ngIf="show"></ion-icon>
  </button>
  <button ion-button full  outline (click)="getAllMedicoes()" color="dark" icon-end>
    Todas as medições
    <span class="badge badge-danger">{{ qtdObj.total }}</span>
    <ion-icon name="remove"></ion-icon>
  </button>

    <div *ngIf="show">
      <button ion-button color="light" full round (click)="medicoesDiaEspecifico()" icon-end>
        Buscar
        <ion-icon name="search"></ion-icon>
      </button>
     <ion-item>
    <ion-label>
      Data
      <ion-icon name="calendar"></ion-icon>
    </ion-label> 
    <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="ocorrenciaData" monthNames="{{functions.monthNames}}" cancelText="Cancelar" doneText="Feito" placeholder="Data da ocorrência"></ion-datetime>   
    </ion-item>
    </div>
</ion-content>
