<ion-header>
  <ion-navbar color="navBarColor">
    <ion-buttons right>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center><span class="titulo">Resultado</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getResultados($event)">
    <ion-refresher-content pullingText="Puxe para atualizar os resultados..." refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>
      <span class="medicao-form-input">Turno</span>
      <ion-icon name="clock"></ion-icon>
    </ion-label>
    <ion-select [(ngModel)]="pesquisa.turno" placeholder="Turno da medição" required interface="popover">
      <!-- Filtro turno -->
      <ion-option value="1">Café</ion-option>
      <ion-option value="2">Almoço</ion-option>
      <ion-option value="3">Jantar / Noite</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>
      <span class="medicao-form-input">Tipo de insulina</span>
      <ion-icon name="cog"></ion-icon>
    </ion-label>
    <ion-select [(ngModel)]="pesquisa.tipo" placeholder="Tipo da medição" required interface="popover">
      <!-- Filtro turno -->
      <ion-option value="1">Basal</ion-option>
      <ion-option value="2">Bolus </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>
      <span class="medicao-form-input">Altos ou baixos</span>
      <ion-icon name="arrow-round-up"></ion-icon>
      <ion-icon name="arrow-round-down"></ion-icon>
    </ion-label>
    <ion-select [(ngModel)]="pesquisa.altoBaixo" placeholder="Selecione uma opção" required cancelText="Cancelar"
      interface="popover">
      <!-- Filtro de nível da mediçáo-->
      <ion-option value="1">Alto</ion-option>
      <ion-option value="2">Normal</ion-option>
      <ion-option value="3">Baixo</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="funcao != 3 && funcao != 4">
    <ion-label>
      Mês específico
      <ion-icon name="calendar"></ion-icon>
    </ion-label>
    <ion-datetime displayFormat="MM - YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="pesquisa.data"
      monthNames="{{functions.monthNames}}" cancelText="Cancelar" doneText="Feito" placeholder="Mês e ano desejado">
    </ion-datetime> <!-- Filtro de data -->
  </ion-item>
  <ion-item *ngIf="funcao != 3 && funcao != 4">
    <!-- OTIMIZAR PARA ARRAY -->
    <ion-label>
      Dia da semana
      <ion-icon name="podium"></ion-icon>
    </ion-label>
    <ion-select [(ngModel)]="pesquisa.diaSemana" placeholder="Selecione uma opção" required cancelText="Cancelar"
      interface="popover">
      <!-- Dias da semana -->
      <ion-option value="1">Segunda</ion-option>
      <ion-option value="2">Terça</ion-option>
      <ion-option value="3">Quarta</ion-option>
      <ion-option value="4">Quinta</ion-option>
      <ion-option value="5">Sexta</ion-option>
      <ion-option value="6">Sábado</ion-option>
      <ion-option value="0">Domingo</ion-option>
    </ion-select>
  </ion-item>
  <ion-item
    *ngIf="pesquisa.altoBaixo > 0 || pesquisa.turno > 0 || pesquisa.data != '' || pesquisa.diaSemana > -1 || pesquisa.tipo > 0">
    <button ion-button outline icon-end round full color="danger" (click)="resetCampos()">
      Resetar campos
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-item>
  <ion-item>
    <button ion-button color="light" full round (click)="getResultados()" icon-end>
      <!-- Busca de acordo com as preferencias preenchidas-->
      Buscar
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-item>
  <div *ngIf="data.length == 0 && getFeito == true; else temRegistros">
    <!--Caso NÂO-->
    <ion-item text-center color="danger" icon-end>
      Sem registros
      <ion-icon name="alert"></ion-icon>
    </ion-item>
  </div>
  <ng-template #temRegistros>
    <!--Caso a busca TENHA resultados-->
    <ion-item text-center color="primary">Quantidade de registros: <b>{{data.length}}</b></ion-item>
    <ion-item text-center (click)="show = !show" data-toggle="collapse" href="#mostraMedia" role="button"
    aria-expanded="false" aria-controls="mostraMedia">
      Mostrar médias
      <ion-icon name="{{ico[0]}}" *ngIf="!show"></ion-icon>
      <ion-icon name="{{ico[1]}}" *ngIf="show"></ion-icon>
    </ion-item>
    <div id="mostraMedia">
      <ion-item text-center color="light">Média das injeções pré-prandial: <b>{{medias.pre.toFixed(2)}} mg/dl</b>
      </ion-item>
      <ion-item text-center color="light">Média das injeções pós-prandial: <b>{{medias.pos.toFixed(2)}} mg/dl</b>
      </ion-item>
      <ion-item text-center color="light">Média das injeções: <b>{{medias.injetado.toFixed(2)}} mg/dl</b></ion-item>
    </div>
  </ng-template>
  <br>
  <ion-item *ngFor="let x of data; let i = index" (click)="detalheItem(x)"
    class="list-group-item list-group-item-{{cores[i % 2]}}">
    <!-- Exibição dos itens da busca-->
    <ion-icon name="undo"></ion-icon>
    <b>Pré glicemia: </b>{{x.resultado_antes}} mg/dl<br>

    <ion-icon name="share-alt"></ion-icon>
    <b>Pós glicemia: </b>{{x.resultado_depois}} mg/dl<br>

    <ion-icon name="flash"></ion-icon>
    <b>Insulina: </b>{{x.quantidade_insulina}} mg/dl

    <!-- <div class="text-center">
          <span class="badge badge-danger">
          <ion-icon name="calendar" class="ico-calendar"></ion-icon>
            <span class="data">{{x.data | data}} - {{x.data | dia_semana}}</span>
          </span>     
       </div> -->
    <div class="date ">
      <span class="day">{{functions.formataData(1,x.data)}}</span>
      <span class="month">{{functions.formataData(2,x.data)}}</span>
      <span class="year">{{functions.formataData(3,x.data)}}</span>
    </div>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <!-- Paginação dos dados -->
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>